<!DOCTYPE html>
<html>
    <head>
        <title>Carlot</title>
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <!--Navbar-->
     <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand active" href="#">Precision Imports</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/cars">Inventory</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <div class="panel panel-default">
                        <!-- Table -->
                        <table class="table">
                          <thead>
                            <tr scope="col">Hours of operation</tr>
                            <tr scope="col">Brief History</tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Monday-Friday: 10:am-6:00pm</th>
                              <td>Saturday</td>
                              <td>Sunday</td>
                            </tr>
                            <tr>
                              <td>Began 20 years ago, with humble beginnings</th>
                              <td>ASC certified dealer, winning the least claims in the state for 5 years in a row</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </ul>
                  </li>
                <li><a href="/login">Dealer Login</a></li>
              </ul>
            </div>
          </div>
        </nav>


      </div>
    </div>
    <body>