<% include ./partials/header.ejs %>
    
  <!--CAROUSEL-->
  <div id="content-container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style=" width:100%; max-height: 600px; !important;">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1517672651691-24622a91b550?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2fa036a3458cee54c04c2af6ba9c976&auto=format&fit=crop&w=1489&q=80" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>Precision Imports</h1>
        <p>Specialing in Foreign and domestic automotives for 20 years and counting</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd4a11ad60f06184bb9fc945e8bdeb57&auto=format&fit=crop&w=1147&q=80" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1494905998402-395d579af36f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=40085e3ea5d8524b7518df890e4aa72d&auto=format&fit=crop&w=1050&q=80" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>
</div>

  

<div id="content-container">

        <!-- Three columns of text below the carousel -->
        <div class="row" style="padding-top: 20px; text-align: center;">
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>About Precision</h2>
            <p>Precision Imports is founded on trust, integrity, and respect. We are proud to offer these values in our sales and business practices so our customers keep coming back. The vehicles on our lot have the best prices and quality in the area so come by and see us today! </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2 class="featurette-heading" id="center">Hours of Operation</h2>
            <table class="table" style="padding-top: 20px" id="center">
              <tbody>
                <tr>
                  <th scope="row">Monday-Friday</th>
                  <td>10:00 am to 6:00 pm</td>
                </tr>
                <tr>
                  <th scope="row">Saturday</th>
                  <td>11:00 am to 3:00 pm</td>
                </tr>
                <tr>
                  <th scope="row">Sunday</th>
                  <td>Closed</td>
                </tr>
              </tbody>
            </table>

          </div>
          
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>ASC Warranty</h2>
            <p>We offer ASC warranty plans ranging from 3 months 3,000 miles to 4 years 48,000 miles. These plans cover a wide range of terms and levels of coverage that give you the flexibility to pick a plan that meets your needs and your budget.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        
        <div class="jumbotron">
          <h1 class="display-4">Take a look</h1>
          <p class="lead">At some of the cars we have had in the past and some of our current favorites.</p>
          <hr class="my-4">
        </div>
        
        
        <!-- START THE FEATURETTES -->
        <div class="jumbotron">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">2010 Porsche 911 GT3. <span class="text-muted">Doesn't get much better than this.</span></h2>
            <p class="lead">We've had a few Porsches come through our doors over the years, but this one definitely takes the cake.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" style="width: 500px; height: auto" src="https://res.cloudinary.com/precisionimports/image/upload/v1535075536/Porsche2.jpg" >
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">2012 BMW <span class="text-muted">X3</span></h2>
            <p class="lead">It's not a Porsche, it's not a minivan, it's right in between. A sporty feel with the conveinence of a standard SUV.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://res.cloudinary.com/precisionimports/image/upload/v1536015199/2012_BMW.jpg" style="width: 500px; height: auto;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">1990 GMC Silverado</span></h2>
            <p class="lead">We like trucks too, and this fully restored Step-Side GMC is a perfect example. </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://res.cloudinary.com/precisionimports/image/upload/v1536015415/90_GMC.jpg" style="width: 500px; height: auto;">
          </div>
        </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
</div>
<footer>
    <div class="container">
      <div class="col-lg-12">
          <div id="content">
              <h3 class="text-uppercase mb-4 font-weight-bold">Contact</h3>
              <p>
                <i class="fa fa-home mr-3"></i> Springdale, AR 72762, US</p>
              <p>
                <i class="fa fa-envelope mr-3"></i> jcrowne@pi.arprecisionimports.net</p>
              <p>
                <i class="fa fa-phone mr-3"></i> 479-751-7500</p>
              <p>
                <i class="fa fa-print mr-3"></i> 479-751-8489</p>
            </div>
        </div>
    </div>
    <p style="text-align:center">© 2018 Precision Imports Inc</p>
    </div>
</footer>

<% include ./partials/footer.ejs %>