<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add a new car!</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/cars" method="POST">
                <div class="form-group">
                    <input class="form-control" type = "text" placeHolder="make" name = "make">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="model" name="model" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" placeholder="year" name="year" >
                </div>
                 <div class="form-group">
                    <input class="form-control" type="number" placeholder="price" name="price" min="1960" step="1">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
                </div>
            </form>
            <a href="/cars">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
