<!--DropDowns to refine search-->
<!--Make-->
<div class="dropdown" style="display: inline">
  <button class="btn btn-default dropdown-toggle" type="button" id="make" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Make
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="make">
    <% cars.forEach(function(car) { %>
      <li><a><%= car.make %></a></li>
    <% }); %>
  </ul>
</div>

<!--Model -->
<div class="dropdown" style="display: inline">
   <button class="btn btn-default dropdown-toggle" type="button" id="model" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Model
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="model">
    <% cars.forEach(function(car) { %>
      <li><a><%= car.model %></a></li>
    <% }); %>
  </ul>
</div>
