html {
    height: 100%;
}

body {
    background-color: rgb(247,249,251);
    font-family: 'PT Sans', sans-serif;
}

img {
    min-height:100%;
}


.Important {
    font-weight: bold;
    color: red;
    padding: 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.centered-div {
    width: 80%;
    margin: 0 auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 350px;
}

.navbar-wrapper > .container {
    padding: 1%;
}

.btn-link{
  border:none;
  outline:none;
  background:none;
}

.capitalize {
    text-transform: capitalize;
}

#center {
    margin-bottom: 10px;
    text-align: center;
}

#content {
    text-align: center;
}

#inventory-header {
    padding-left: 5%;
    padding-right: 5%;
}

#logo {
    padding-top: 5%;
}

#standAlone {
    font-weight: 400;
}

 #boldHR {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

